.Selector .clicker {
  height: 40px;
  width: 40px;
  background-color: whitesmoke;
  display: inline-block;
  color: black;
  margin: 0px 3px;
}

.Selector .clicker:hover {
  background-color: #aeff03;
}

.Selector .clicker.active {
  background-color: rgb(174, 255, 3);
}
